<div class="dash">
  <!-- HEADER -->
  <header class="header">
    <!-- Puedes agregar contenido específico del header aquí -->
  </header>

  <!-- BODY -->
  <div class="body"[ngClass]=>
    <!-- SIDEBAR -->
    <div class="sidebar">
      <div class="sidebar__icon"></div>
      <div class="sidebar__icon" ></div>
      <div class="sidebar__icon" ></div>
      <div class="sidebar__icon"  ></div>
      <div class="sidebar__icon" ></div>
    </div>

    <!-- Main content of VerStoreComponent goes here -->
    <div class="margen">
      <mat-tab-group class="centered-tab-group" fitInkBarToContent>
        <mat-tab label="Perfil">
          <div class="perfil-container" *ngIf="local ">
            <div class="perfil-header">
              <app-foto [foto]="foto"></app-foto>
            </div>
            <div class="perfil-body">
              <h2>{{ local.nombreLo }}</h2>
              <p>{{ local.descripcionLo }}</p>
              <p>Categoría: {{ local.categoria }}</p>
              <p>Dirección: {{ local.direccionLo }}</p>
              <p>Horario: {{ local.horario }}</p>
              <p>Teléfono: {{ local.telefono }}</p>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Lista de productos">
          <app-list-productos></app-list-productos>
          <mat-tab-group class="centered-tab-group" fitInkBarToContent>
            <!-- Otros componentes de la pestaña Lista de productos -->
          </mat-tab-group>
        </mat-tab>
        <mat-tab label="Contabilidad">
          <div class="margen">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-body"></div>
            </div>
          
          </div>
        </mat-tab>
        <mat-tab label="Reviews">
          <!-- Contenido de la pestaña Reviews -->
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
