<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->


  <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->
<header><app-navbar></app-navbar>
</header>
<section id="hero-229">
    
  <div class="cs-container">
      <div class="cs-flex-group">
          <span class="cs-topper custom-font">World Virtual Gallery</span>
          <h1 class="cs-title custom-font">Conecta con el mercado mundial</h1>
          <p class="cs-text">
              Explora los productos de mas de 5 millones de tiendas alrededor del mundo o Empieza a competir con tu tienda en el mercado virtual!
          </p>
          <a href="" class="cs-button-solid">Registrarse</a>
          <a href="" class="cs-button-transparent">
              
              Sobre nosotros
          </a>
      </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-picture">
      <source media="(max-width: 600px)" srcset="/assets/LogoIniciosesion.jpg">
      <source media="(min-width: 601px)" srcset="/assets/LogoIniciosesion.jpg">
      <img loading="lazy" decoding="async" src="/assets/LogoIniciosesion.jpg" alt="mountains" width="2250" height="1500" aria-hidden="true">
  </picture>
</section>
                              
      <!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-43">
  <div class="cs-container">
    <
      <div class="cs-content " >         
      </div>
      <div class="cs-image-group">
          <!-- Image 1 -->
          <a class="cs-item" href="">
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/pro.jpg">
                  <source media="(min-width: 601px)" srcset="/assets/pro.jpg">
                  <img loading="lazy" decoding="async" src="/assets/pro.jpg" alt="fancy house" width="346" height="346">
              </picture>
              <!-- Hover Box -->
              <div class="cs-hover-box">
                  <picture class="cs-icon">
                      <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                  </picture>
                  <h3 class="cs-h3">Productos mas comprados</h3>
                  <p class="cs-hover-box-text">
                      Explora los productos que estan siendo populares en el mercado
                  </p>
              </div>
          </a>
          <!-- Image 2 -->
          <a class="cs-item" href="">
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/tien.jpg">
                  <source media="(min-width: 601px)" srcset="/assets/tien.jpg">
                  <img loading="lazy" decoding="async" src="/assets/tien.jpg" alt="modern house" width="346" height="346">
              </picture>
              <!-- Hover Box -->
              <div class="cs-hover-box">
                  <picture class="cs-icon">
                      <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                  </picture>
                  <h3 class="cs-h3">Tiendas Mejor Valoradas</h3>
                  <p class="cs-hover-box-text">
                      Explora las tiendas mejor valoradas por usuarios en todo el mundo.
                  </p>
              </div>
          </a>
          <!-- Image 3 -->
          <a class="cs-item" href="">
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/ofer.jpg">
                  <source media="(min-width: 601px)" srcset="/assets/ofer.jpg">
                  <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/ofer.jpg" alt="modern home at night" width="346" height="346">
              </picture>
              <!-- Hover Box -->
              <div class="cs-hover-box">
                  <picture class="cs-icon">
                      <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                  </picture>
                  <h3 class="cs-h3">Ofertas especiales</h3>
                  <p class="cs-hover-box-text">
                      Explora las ofertas especiales de tiempo limitado!
                  </p>
              </div>
          </a>
          <!-- Image 4 -->
          <a class="cs-item" href="">
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/influ.png">
                  <source media="(min-width: 601px)" srcset="/assets/influ.png">
                  <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/influ.png" alt="modern home" width="346" height="346">
              </picture>
              <!-- Hover Box -->
              <div class="cs-hover-box">
                  <picture class="cs-icon">
                      <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                  </picture>
                  <h3 class="cs-h3">Recomendaciones de Influencers</h3>
                  <p class="cs-hover-box-text">
                      Explora las recomendaciones hechas por los influencers.
                  </p>
              </div>
          </a>
          <!-- Image 5 -->
          <a class="cs-item" href="">
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/secu.jpg">
                  <source media="(min-width: 601px)" srcset="/assets/secu.jpg">
                  <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/secu.jpg" alt="appliance" width="346" height="346">
              </picture>
              <!-- Hover Box -->
              <div class="cs-hover-box">
                  <picture class="cs-icon">
                      <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                  </picture>
                  <h3 class="cs-h3">Seguridad</h3>
                  <p class="cs-hover-box-text">
                      Explora nuestra medidas de Seguridad para que puedas comprar y vender sin preocupaciones.
                  </p>
              </div>
          </a>
          <!-- Image 6 -->
          <a class="cs-item" href="">
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/test.jpg">
                  <source media="(min-width: 601px)" srcset="/assets/test.jpg">
                  <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/test.jpg" alt="modern home" width="346" height="346">
              </picture>
              <!-- Hover Box -->
              <div class="cs-hover-box">
                  <picture class="cs-icon">
                      <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                  </picture>
                  <h3 class="cs-h3">Testimonios</h3>
                  <p class="cs-hover-box-text">
                      Lee los testimonios de los usuarios de World Virtual Gallery.
                  </p>
              </div>
          </a>
      </div>
  </div>
</section>
<app-footer></app-footer>