
<div class="dash">
    <app-navbar></app-navbar>
<section id="sbs-1431">
    <div class="cs-container">
        <div class="cs-image-group">
            <!-- Person Picture -->
            <!-- To make your own crops of people, use this tool to remove the backgorund of images https://www.remove.bg/ -->
            <picture class="cs-person">
                <source media="(max-width: 600px)"src="/assets/contacto.jpg" >
                <source media="(min-width: 601px)" src="/assets/contacto.jpg" >
                <img loading="lazy" decoding="async" src="/assets/contacto.jpg" >
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Cómo Contactarnos</h2>
            <p class="cs-text">
                Para cualquier consulta o colaboración, no dude en ponerse en contacto con nosotros.
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Teléfono</h3>
                        <p class="cs-li-text">+5493518196716</p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="/assets/email.jpg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Correo Electrónico</h3>
                        <p class="cs-li-text">ds21tn.coronel.jeremias@gmail.com</p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="/assets/Git.png" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">GitHub</h3>
                        <p class="cs-li-text">https://github.com/Jere21121878?tab=repositories</p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="/assets/adress.png" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Dirección</h3>
                        <p class="cs-li-text">Barrio Nuestro Hogar 2</p>
                    </div>
                </li>
            </ul>             
        </div>
    </div>
</section>
<footer><app-footer></app-footer></footer>
</div>
