body{
    background: #fffdfd;
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /* ajusta el valor según tu preferencia */
    width: 70%; /* Ancho del contenedor */
    margin: 10vh auto; /* Centra el contenedor horizontalmente y agrega márgenes superior e inferior */
    padding: 20px; /* Añade un relleno para que el contenido no se pegue al borde */
    border: 1px solid #ccc; /* Agrega un borde */
    border-radius: 10px; /* Agrega bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega un suave sombreado */
    background-color: #fff; /* Ajusta el color de fondo según tu preferencia */
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.title{
    margin-bottom: 5vh;
}

@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    background-color: #f5efef;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.card {
    width: 70%; /* ajusta el valor según tu preferencia */
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: transparent;
    background-color: rgb(243, 243, 249); /* ajusta el color de fondo según tu preferencia */
}

.summary {
    width: 30%; /* ajusta el valor según tu preferencia */
    background-color: #626262;
    color: rgb(236, 238, 232);
    padding: 4vh;
    display: flex; /* Agregar display flex para que el contenido ocupe todo el div */
    flex-direction: column; /* Alinear el contenido en columna */
    justify-content: space-between; /* Espacio uniforme entre elementos */
}

.total-price {
    color: red; /* Cambiado el color del número a rojo */
}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.btn{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.btn:hover{
    color: white;
}
a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}
 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}