<body>
  <div class="dash">
    <app-navbar></app-navbar>

    <div class="main-and-sidebar">
      <!-- BODY -->
      <main class="main">
        <app-ver-producto [id]="Id"></app-ver-producto>
      </main>

      <!-- SIDEBAR -->
      <div class="sidebar">
        <!-- Lista desplegable -->
        <div class="dropdown" *ngIf="!showDropdown">
          <div class="quantity-container">
            <button class="dropbtn" (click)="toggleDropdown()">Cantidad</button>
            <div class="selected-quantity elegant-frame">{{ cantidadSeleccionada }}</div>
          </div>
          <div class="dropdown-content" [ngClass]="{'show': showDropdown}">
            <ul class="number-list">
              <li><a href="javascript:void(0);" (click)="seleccionarCantidad(1)">1</a></li>
              <li><a href="javascript:void(0);" (click)="seleccionarCantidad(2)">2</a></li>
              <li><a href="javascript:void(0);" (click)="seleccionarCantidad(3)">3</a></li>
              <li><a href="javascript:void(0);" (click)="seleccionarCantidad(4)">4</a></li>
              <li><a href="javascript:void(0);" (click)="seleccionarCantidad(5)">5</a></li>
            </ul>
            
          </div>
        </div>
        <!-- Botones adicionales -->
        <div class="button-container">
          <button mat-raised-button color="accent" >Comprar</button>
          <button mat-stroked-button color="accent" (click)="agregarAlCarrito()">Agregar al carrito</button>
        </div>
        <div *ngIf="localNombre">
          Vendido por la tienda: {{ localNombre }}
        </div>
      </div>
    </div>
  </div>
</body>