<div class="dash">
    <app-navbar></app-navbar>
    <section id="cta-1192">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">World Virtual Gallery</span>
                <h2 class="cs-title">LA SEGURIDAD ES NUESTRA PRIORIDAD!</h2>
                <a href="" class="cs-button-solid">BLOQUEAR COMPRAS</a>
            </div>
            <!--To make an image like this one, use https://www.remove.bg/ to remove the background of any image-->
            <picture class="cs-image">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"src="/assets/secu.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" src="/assets/secu.png">
            </picture>
        </div>
        <!--Tire Screech-->
        <picture class="cs-graphic-wrapper">
            <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/secu.png" alt="tire screech" width="1462" height="434">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews-1192">
        <div class="cs-container">
            <!--Person-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" src="/assets/secu1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" src="/assets/secu1.jpg">
                <img loading="lazy" decoding="async" src="/assets/secu1.jpg" alt="man in suit" width="738" height="493">
            </picture>
            <div class="cs-review-group">
                <p class="cs-review-text">
                    En nuestro e-commerce, nos enorgullecemos de contar con los protocolos de seguridad más avanzados y robustos disponibles en la actualidad. Nuestro equipo de expertos en seguridad informática trabaja incansablemente para mantener nuestra plataforma protegida en todo momento. Utilizamos tecnologías de vanguardia y prácticas de seguridad de última generación para asegurar que nuestros sistemas estén siempre un paso adelante de los hackers y ciberatacantes. Con múltiples capas de protección y constantes actualizaciones, nuestro e-commerce ofrece un entorno virtual altamente seguro donde la integridad de sus datos y transacciones está garantizada. Puede comprar con total tranquilidad, sabiendo que estamos comprometidos a mantener su información segura y protegida.
                </p>
                <div class="cs-info">
                    <div class="cs-flex">
                        <span class="cs-desc">--------------------------------------------------</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                    
    <section id="reviews-1192">
        <div class="cs-container">
            <!--Person-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" src="/assets/secu2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" src="/assets/secu2.jpg">
                <img loading="lazy" decoding="async" src="/assets/secu2.jpg" alt="man in suit" width="738" height="493">
            </picture>
            <div class="cs-review-group">
                <p class="cs-review-text">
                    La seguridad de sus transacciones es una prioridad absoluta. Puede comprar con total confianza utilizando su tarjeta de crédito o débito, ya que implementamos rigurosas medidas de seguridad para proteger su información financiera. Además, en caso de extravío o robo de su tarjeta, hemos incorporado una función adicional de seguridad: el botón "Bloquear Compras". Esta característica le permite desactivar temporalmente la capacidad de realizar transacciones con su tarjeta, brindándole un control adicional sobre su seguridad financiera. Simplemente con un clic, puede evitar cualquier uso no autorizado de su tarjeta hasta que resuelva la situación. Su tranquilidad es nuestra prioridad, y estamos comprometidos a brindarle la mejor experiencia de compra en línea con los más altos estándares de seguridad.
                </p>
                <div class="cs-info">
                    <div class="cs-flex">
                        <span class="cs-desc">--------------------------------------------------</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="reviews-1192">
        <div class="cs-container">
            <!--Person-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" src="/assets/secu3.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" src="/assets/secu3.jpg">
                <img loading="lazy" decoding="async" src="/assets/secu3.jpg" alt="man in suit" width="738" height="493">
            </picture>
            <div class="cs-review-group">
                <p class="cs-review-text">
                    En nuestro compromiso con la seguridad y la tranquilidad de nuestros clientes, nos enorgullece ofrecer un sistema de alerta integral para todas las compras realizadas o por realizarse en nuestro e-commerce. Con el fin de salvaguardar su información personal y financiera, implementamos un sofisticado sistema de detección que monitorea constantemente todas las transacciones. Esto nos permite identificar cualquier actividad sospechosa de manera proactiva y notificar a nuestros clientes de inmediato, brindándoles la confianza y la seguridad que merecen al realizar sus compras en nuestra plataforma. Su protección es nuestra prioridad.
                </p>
                <div class="cs-info">
                    <div class="cs-flex">
                        <span class="cs-desc">--------------------------------------------------</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="reviews-1192">
        <div class="cs-container">
            <!--Person-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" src="/assets/secu5.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" src="/assets/secu5.jpg">
                <img loading="lazy" decoding="async"src="/assets/secu5.jpg" alt="man in suit" width="738" height="493">
            </picture>
            <div class="cs-review-group">
                <p class="cs-review-text">
                    En nuestro e-commerce, comprendemos la importancia de brindar asistencia rápida y confiable en cualquier momento y en cualquier lugar. Es por eso que nos enorgullece ofrecer un equipo de operadores disponibles las 24 horas del día, los 7 días de la semana, para ayudarlo a solucionar cualquier emergencia que pueda surgir durante su experiencia de compra. Ya sea que necesite ayuda con una transacción, tenga preguntas sobre nuestros productos o servicios, o requiera asistencia en cualquier otro asunto, nuestro equipo está aquí para usted. Además, entendemos la diversidad de nuestra clientela, por lo que nuestros operadores están capacitados para brindar asistencia en múltiples idiomas, asegurando que pueda comunicarse con nosotros de manera efectiva sin importar dónde se encuentre. Su satisfacción y tranquilidad son nuestra prioridad, y estamos comprometidos a brindarle el más alto nivel de atención al cliente en todo momento.
                </p>
                <div class="cs-info">
                    <div class="cs-flex">
                        <span class="cs-desc">--------------------------------------------------</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer><app-footer></app-footer></footer>
</div>
