<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-108">
    <div class="cs-container">
        <ul class="cs-ul">
            <li class="cs-li">
                <a href="" class="cs-link">Home</a>
            </li>
            <li class="cs-li">
                <a href="sobre" class="cs-link">Sobre World Virtual Gallery</a>
            </li>
            <li class="cs-li">
                <a href="seguridad" class="cs-link">Seguridad</a>
            </li>
         
            <li class="cs-li">
                <a href="contacto" class="cs-link">Contacto</a>
            </li>
        </ul>
        <span class="cs-copyright">© 2024 Copyright</span>
    </div>
</footer>
                                