<div class="dash">
    <app-navbar></app-navbar>
<section id="contact-1150">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Unete a la galeria mundial de tiendas!</h2>
        </div>
        <div class="cs-contact-group">
            <picture class="cs-picture">
                <!-- Mobile Image -->
                <source media="(max-width: 600px)" srcset="/assets/LogoRegistro1.jpg">
                <!-- Tablet and above Image -->
                <source media="(min-width: 601px)" srcset="/assets/LogoRegistro1.jpg">
                <img loading="lazy" decoding="async" src="/assets/LogoRegistro1.jpg" alt="people" width="630" height="300">
              </picture>
            <p class="cs-contact-text">
                En todo el mundo, miles de tiendas ofrecen sus productos únicos y esenciales. Sin embargo, barreras como la distancia, el idioma y la moneda han obstaculizado transacciones exitosas. ¡Pero eso ya es cosa del pasado! Ahora, esos productos están al alcance de un simple click.





            </p>
            <img src="https://static.wixstatic.com/media/3351d4_3faec914214c4ac88ef65fe427cafd81~mv2.gif" alt="gif" width="550" height="380"style="margin-left: 30px;">

        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1150" name="Contact Form" (ngSubmit)="register()" method="post">
            <label class="cs-label" >
                Nombre/s
                <input class="cs-input" required type="text" id="name-1150" [(ngModel)]="model.name" name="name" placeholder="Nombre/s">
              </label>
            <label class="cs-label">
                Apellido/s
                <input class="cs-input" required type="text" id="name-1150"[(ngModel)]="model.apellido" name="name" placeholder="Apellido/s">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="email" id="email-1150"[(ngModel)]="model.email" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                Contraseña
                <input class="cs-input" required type="text" id="name-1150" [(ngModel)]="model.password"name="name" placeholder="Contraseña">
            </label>
            <label class="cs-label">
                Direccion
                <input class="cs-input" required type="text" id="name-1150"[(ngModel)]="model.direccion" name="name" placeholder="Direccion">
            </label>
            <label class="cs-label">
                Provincia
                <input class="cs-input" required type="text" id="name-1150" [(ngModel)]="model.provincia" name="name" placeholder="Provincia">
            </label>
            <label class="cs-label">
                Localidad
                <input class="cs-input" required type="text" id="name-1150" [(ngModel)]="model.localidad"name="name" placeholder="Localidad">
            </label>
            <label class="cs-label cs-phone">
                Celular
                <input class="cs-input" required type="number" id="phone-1150" [(ngModel)]="model.celular"name="phone" placeholder="Celular">
            </label>
            <label class="cs-label">
                Codigo postal
                <input class="cs-input" required type="text" id="name-1150" [(ngModel)]="model.cp"name="name" placeholder="Codigo Postal">
            </label>
            <label class="cs-label">
                Voy a...
                <select class="cs-input" required id="name-1150" [(ngModel)]="model.rol" name="name">
                    <option value="" disabled selected>Elige si quieres vender o comprar</option>
                    <option value="Vendedor">Vender</option>
                    <option value="Comprador">Comprar</option>
                </select>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Registrarse!</button>
        </form>
        <!--Bounce Graphic-->
        <img class="cs-graphic cs-graphic1" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/bounce.svg" alt="bounce" width="208" height="124">
        <!--Coin Graphic-->
        <img class="cs-graphic cs-graphic2" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/coin.svg" alt="bounce" width="205" height="161">
    </div>
</section>
<footer><app-footer></app-footer></footer>

</div>