<div class="dash">
    <app-navbar></app-navbar>
<section id="sbsr-1363">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"src="/assets/why1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" src="/assets/why1.jpg">
                <img loading="lazy" decoding="async" src="/assets/why1.jpg"> 
            </picture>
            <div class="cs-box">
                <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
              
            </div>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">Por qué elegir nuestra plataforma de galería virtual mundial</h2>
            <p class="cs-text">
                World Virtual Gallery es el mejor eCommerce multilocal gracias a su amplia variedad de productos de distintas tiendas alrededor del mundo, su plataforma fácil de usar y su compromiso con el comercio justo y la calidad. Conecta a compradores y vendedores de todo el mundo, ofreciendo una experiencia de compra enriquecedora y emocionante.





            </p>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
                        Variedad de tiendas
                    </h3>
                    <p class="cs-item-text">
                        Ofrecemos una amplia gama de opciones de compra en diversas tiendas, para satisfacer todos los gustos.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
                        Experiencia de usuario única
                    </h3>
                    <p class="cs-item-text">
                        Proporcionamos una experiencia de compra sin fisuras y agradable para todos nuestros usuarios.
                    </p>
                </li>
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Plataforma de comercio electrónico multilocal
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Amplia variedad de productos
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Experiencia de usuario intuitiva
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Seguridad y confiabilidad en cada transacción
                </li>
            </ul>
            <a href="" class="cs-button-solid">Descubre más</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
<footer><app-footer></app-footer></footer>
</div>