* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

header {
  height: 100%;
  width: 100%;
  float: left;
  background: #9b0e0e;
  padding: 0 20px;
  color: #fff;
}

.brand-logo {
  max-width: 75px;
  float: left;
  padding: 14px 0px;
  border-radius: 50%;
  overflow: hidden;
}

.brand-logo img {
  max-width: 100%;
  border-radius: 50%;
}

.navigation {
  margin: 0px;
  float: right;
}

.navigation li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

.navigation li a {
  color: #fff;
  padding: 28px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
}

.navigation li a i {
  width: 100%;
  font-size: 20px;
  margin-bottom: 7px;
}

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  margin: 0px;
  float: right;
}

.show-menu-btn i {
  line-height: 100px;
}

.navigation a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #00ff0a;
}

#toggle-btn {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/*-- Responsive CSS --*/
@media screen and (max-width:767px) {
  .show-menu-btn,
  .hide-menu-btn {
      display: block;
  }

  .navigation {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #ac1616;
      top: -100%;
      left: 0;
      padding: 50px 0px;
      transition: 1s;
  }

  .navigation li {
      list-style: none;
      float: left;
  }

  .navigation li a {
      padding: 15px 15px;
      text-align: left;
  }

  .navigation li a i {
      width: auto;
      font-size: 20px;
  }

  .hide-menu-btn {
      position: absolute;
      top: 15px;
      right: 20px;
  }

  #toggle-btn:checked ~ nav .navigation {
      top: 0px;
  }
}

.button-container {
  float: right;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.button-container button {
  margin-left: 10px;
}

.login-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.login-btn i {
  margin-right: 5px;
}

.search-bar {
  float: left;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  margin-left: auto;
}

.search-bar input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 52px;
  width: 400px;
  margin-top: 30px;
}

.search-bar .search-btn {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar .search-btn i {
  color: #9b0e0e;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ac1616;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  left: auto; /* Elimina la propiedad 'left' */
  right: 0; /* Alinea el menú desplegable con el borde derecho del elemento padre */
  top: 100%;
}

.dropdown-menu li {
  float: none; /* Asegura que los elementos de la lista estén apilados verticalmente */
  text-align: left; /* Alinea el texto a la izquierda */
}

.dropdown-menu li a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: white;
}

.dropdown-menu li a:hover {
  background-color: #f7ca00; /* Cambia el color de fondo al pasar el ratón */
}

.navigation li {
  position: relative; /* Establece la posición relativa para el elemento padre */
}

.navigation li:hover .dropdown-menu {
  display: block; /* Muestra el menú desplegable cuando se pasa el ratón */
}.notification-badge {
  position: absolute;
  top:0;
  right: 5;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
}